.info{
    background-color: #ffffff;
    color: #3a3a3a;
    display: flex;
    flex-direction: column;
}


.parrafoInfo{
    margin-left: 218px;
    margin-bottom: 128px;
    max-width: 686px;
    
}

.parrafoColumnas{
    display: flex;
    columns:2;
    gap:20px;
    
}

@media only screen and (max-width: 600px) {
    .parrafoInfo{
        margin:10px;
    }
}