.contacto{
    background-color: #f4f4f4;
    min-height: 100vh;
    color: #a2988e;
    margin-top: 1vh;
    display: flex;

}


.titulosContacto {
  display: flex;
  flex-direction: column;
  margin:3%;
}

.form {
  margin:3%;
}