.detalle {
  background-color: #f4f4f4;
  min-height: 30vh;
  color: #a2988e;
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.imagenDetalle {
  border-radius: 2vw;
}

.cuidados {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 5vw;
  padding-left: 20%;
  padding-right: 20%;
}


.imagenesCelu{
  width: 90vw;
  border-radius: 2vw;
  margin:1vh;
}

.imagenesDesktop{
  display: flex;
  justify-content: space-around;
  margin-top: 3%;
}

@media only screen and (max-width: 600px){
   .cuidados{
    padding:0;
   }
}