.footer__top__icon {
  width: 50px;
}

.redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #a2988e;
  color:#fbfcef;

}


.divider{
  background-color:white;
}

.iconoWhatsapp {

     position: fixed;
    top: 85%;
    left:10%;
    font-size: 5rem!important;
}