.footer__top__icon {
  width: 50px;
}

.redes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #f4f4f4;
  color:#3a3a3a;

}


.divider{
  background-color:white;
}


.contactoFooter{
  align-self: baseline;
}

@media only screen and (max-width: 600px){
    .contactoFooter{
        display:flex;
        flex-direction: column;
    }
}