

.carouselInteriorismo{
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 128px;
}

.imagenCarousel{

    height: 400px;
}

#interiorismo{
    margin-left: 48px;
    width: 70%;
    margin-bottom: 120px!important;
}

.botonVolver{
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 768px) {
    .carouselInteriorismo{
        margin-bottom: 20px;
        margin-left: 20px;
        margin-right: 20px;

    }

    .slidesInteriorismo{
        height:350px;
        max-width: 600px;
        display: flex;
        justify-content: center;
    }


    #interiorismo{
    margin-left: 0px;
    width: 100%;
    margin-bottom: 40px!important;
}

    .botonVolver{
        margin-bottom:120px;
    }

}
