.about{
    background-color: #f4f4f4;
    min-height: 30vh;
    color: #a2988e;
    margin-top: 1vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.aboutDetalle{
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 20%;
  margin-right: 20%;
}


.aboutCelu{
  display: flex;
  flex-direction: column;
  align-items: center;
}
