.about {
  background-color: #ffffff;
  color: #3a3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.aboutDetalle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 218px;
  margin-right: 218px;
  margin-bottom: 128px;
}

.divDeBotones {
  display: flex;
  gap: 20px;
}
.aboutCelu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .aboutDetalle {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    width: 80%;

  }
  .divDeBotones{
    margin-left: 20px;
    margin-right: 20px;
    gap:5px;
  }
 #textoEscondido{
  text-align: left;
 }

 #tituloAle{
  text-align: left;
 }

 .btn{
  padding: 0!important;
  border: none;
 }

}
