.about{
    background-color: #f4f4f4;
    min-height: 30vh;
    color: #3a3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.aboutDetalle{
    display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 218px;
  margin-right: 218px;
}

.divDeBotones{
  display: flex;
  gap:20px;
}
.aboutCelu{
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (max-width: 600px){
 .aboutDetalle{
  padding:0;
  margin: 20px;
 }
}