.botones{
    display: flex;
    flex-wrap: wrap;
    min-width: 300;
    width: 100%;
    justify-content: center;
    background-color:#ffffff;
    margin-top: 168px;

}

.botonInd{
    width:"318px";
    margin-left:12px;
    margin-right: 12px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    border-radius: 20px;

 
}

.divAbajo{ 
    display: flex;
    justify-content: center;
    margin-top: 68px;
    margin-bottom: 68px;
}


@media only screen and (max-width: 768px){
    .divAbajo{
        margin-top: 0px;
        margin-bottom: 40px;
    }
}

