.home {
  background-color: #ffffff;
  color: #3a3a3a;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
}

.textoCarrusel {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 12;
  top: 300px;
  text-align: center;
  margin-left: 0px;
}

.texto1 {
  color: #3a3a3a;
  margin-bottom: 200px;
  display: flex;
  justify-content: center;
}

.texto2 {
  color: #3a3a3a;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  .home {
    height: 600px;
    margin-bottom: 100px;
    margin-top: 90px;
    /* margin-top: 0px; */
  }

  .carousel-item-next,
  .carousel-item-prev,
  .carousel-item.active {
    display: flex!important;
    justify-content: center;
   /* z-index: 0; */
  }

  .imagenCarrusel{
    width: 100;
  }

  .texto1 {
    margin-bottom: 210px;
    display: flex;
    justify-content: center;
  }
  .texto2 {
    display: flex;
    justify-content: center;
  }
}
