.home{
    background-color: #ffffff;
    min-height: 30vh;
    color: #3a3a3a;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textoCarrusel{
  position:absolute;
  z-index:12;
  top:300px;
  left:0;
  width:100%;
  text-align:center;
}

@media only screen and (max-width: 600px){
    .home{
        height: 600px;
        margin-bottom: 100px;
    }
}


