.homeServicios {
  background-color: #c0bbb6;
  min-height: 30vh;
  color: black;
  margin-top: 2vh;
  padding-left: 20%;
  padding-right: 20%;
  padding-top:4vh;
  padding-bottom: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h5{
  padding-top: 20px;
  padding-bottom: 20px;
}

@media only screen and (max-width: 600px){
    h5{
        text-align: center;
    }
}