.Navbar {
  background-color: #ffffff;
  padding-top: 48px !important;
  padding-bottom: 48px !important;
  padding-left: 48px !important;
  padding-right: 48px !important;
  color: #3a3a3a;
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.me-auto {
  gap: 48px;
}

.dropdown {
  font-size: 28px;
}

.logoNavbar {
  height: 80px;
}
.Container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  font-size: 28px;
}

.Container2 {
  display: grid;
  justify-content: end;
}

@media only screen and (max-width: 600px) {
  .Container{
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 18px;
  }

  .me-auto{
    background-color: #cdd2c2;
    color:#3a3a3a;
    font-size: 35px;
    height: 800px;
    gap:14px;
    margin:0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  } 

  .subRedes{
    margin-top: 40px;
  }
}

