.productos {
  background-color: #f4f4f4;
  color: #a2988e;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.titulos {
  display: flex;
  flex-direction: column;
  margin-left: 60%;
  margin-top: 128px;
  margin-right: 48px;
  color:black;
}

@media only screen and (max-width: 600px) {
  .titulos {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
  }
}

/* container de las fotos */
.listadoFotos {
  border-radius: 20px;
  margin-left: 218px;
  margin-right: 218px;
  gap:24px!important;
}

@media only screen and (max-width: 600px) {
  .listadoFotos{   width:350px;
    display: grid;
    grid-template-columns: none!important;
    columns: 1;
    justify-content: center;
  }
}

/* foto individual */

.fotoProducto{
  width:318px!important;
  height: 318px!important;
  border-radius: 20px;
}

.barraInfo{
  width: 318px;
  border-radius: 20px;
  background-color: transparent!important;
}



@media only screen and (max-width: 600px) {
  .fotoProducto{   width:350px;
    height: 350px;
    border-radius: 20px;}
}

.categorias {
  margin-left: 218px;
  margin-bottom: 60px;
  width:100%;
  float:left;

}

@media only screen and (max-width: 600px) {
  .categorias {
    display: flex;
    flex-direction: column;
    margin-left: 48px;
    gap:10px;
  }
}

.link {
  color: black;
  margin: 1vw;
}

.link1 {
  display: flex;
  margin-right: 80%;
  margin-bottom: 10vh;
}

@media only screen and (max-width: 600px) {
  .link1 {
    display: flex;
    margin-left: 5%;
    flex-wrap: nowrap;
    margin-right: 60%;
  }
}
