.productos {
  background-color: #ffffff;
  color: #3a3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


@media only screen and (max-width: 600px) {
  .titulos {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
  }
}

/* container de las fotos */
.listadoFotos {
  border-radius: 20px;
  margin-left: 218px;
  margin-right: 218px;
  gap:24px!important;
}

@media only screen and (max-width: 600px) {
  .listadoFotos{   width:350px;
    display: grid;
    grid-template-columns: none!important;
    columns: 1;
    justify-content: center;
  }
}

/* foto individual */

.fotoProducto{
  width:318px!important;
  height: 318px!important;
  border-radius: 20px;
}

.barraInfo{
  width: 318px;
  border-radius: 20px;
  background-color: transparent!important;
}



@media only screen and (max-width: 600px) {
  .fotoProducto{   width:350px;
    height: 350px;
    border-radius: 20px;}
}

.categorias {
  margin-left: 218px;
  margin-bottom: 60px;
  width:100%;
  float:left;

}

@media only screen and (max-width: 600px) {
  .categorias {
    display: flex;
    flex-direction: column;
    margin-left: 48px;
    gap:10px;
  }
}


