a{
    text-decoration: none;
    color: inherit;
}

*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.botonera{
    background-color: #719c7e!important;
    margin: 1vh!important;
    width:40%;
    border-radius: 2vw!important;
    display: flex;
    justify-content: center;
}
