*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}


.botonera{
    background-color: #719c7e!important;
    margin: 1vh!important;
    width:40%;
    border-radius: 2vw!important;
    display: flex;
    justify-content: center;
}

.botonera2{
    background-color: #719c7e!important;
    margin: 1vh!important;
    width:15%;
    border-radius: 2vw!important;
    display: flex;
    justify-content: center;
}

@media only screen and (max-width: 600px){
    .botonera2{
        width:40%;
    }
}
