.servicios {
  background-color: #ffffff;
  min-height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.listadoServicios {
  display: grid;
  justify-content: center;
  margin-left: 10vw;
  margin-right: 10vw;
  align-items: baseline;
}

.servicio{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  height:fit-content;
}

@media only screen and (max-width: 768px) {
  .listadoServicios{
    margin-top: 120px;
  }

  .servicio{
    margin-bottom: 40px;
  }
}